@model WebAppHospitalManagement.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal bg-info">
        <dt>
            @Html.DisplayNameFor(model => model.pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor1.dname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor1.dname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
