@model WebAppHospitalManagement.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal bg-info">
        <dt>
            @Html.DisplayNameFor(model => model.dname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital1.hname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital1.hname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
